*,
*::before,
*::after {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: Atkinson Hyperlegible, sans-serif;
  font-size: calc(1em + 0.5vw);
  color: #222;
  line-height: 1.5;
  background: #fefefe;
}

body,
br,
dt,
dd,
th,
td,
option,
[hidden] + *,
:empty:not(img) + *,
li + li,
header * + * {
  margin-top: 0;
}
p {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
p + p {
  margin-top: 1rem;
}
ul {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
kbd {
  font-size: 0.75em;
  padding: 0.0625rem 0.5rem;
  border-radius: 0.125rem;
  border: 2px solid;
  box-shadow: 1px 1px 0 currentColor, 2px 2px 0 currentColor;
}
hr {
  height: 0.25rem;
  border: 2px solid #222;
  border-left: 0;
  border-right: 0;
  margin: 2.1rem 0;
}
a {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid;
  cursor: pointer;
}
:focus {
  outline: none;
}
:focus:not([tabindex="-1"]) {
  outline: 4px solid #80b3ff;
  outline-offset: 2px;
}
[href="#main"] {
  position: absolute;
  top: -2em;
  right: 0.7rem;
}
[href="#main"]:focus {
  top: 0.75rem;
}
h1,
h2,
h3,
h4 {
  font-family: Atkinson Hyperlegible, serif;
  line-height: 1.1;
  color: #10403c;
}
h1 {
  font-size: 3rem;
}
main {
  display: block;
}
main h1 {
  font-size: 2.5rem;
}
media only screen and (min-device-width: 768px) {
  .central__banner {
    margin-top: 3.5rem;
  }
}
.site-name {
  font-size: 4rem;
  margin-top: 1.5rem;
  line-height: 1;
  word-spacing: 100em;
  filter: drop-shadow(0px 0px 0px);
  position: relative;
  color: #10403c;
}
.site-name:before {
  content: "";
  position: absolute;
  height: 70%;
  width: 80%;
  top: -10%;
  left: -10%;
  background: #10403c;
  z-index: 1000;
  clip-path: url(#clip); /* applying clip animation */
}
.site-name:hover:before {
  display: none;
  z-index: 1000;
}
.site-name:active:before {
  display: none;
  z-index: 1000;
}
.site-name:focus:before {
  display: none;
  z-index: 1000;
}
h2 {
  font-size: 1.75rem;
}
* + h2 {
  margin-top: 2.1rem;
}
h3 {
  font-size: 1.25rem;
  text-transform: uppercase;
}
h3,
h4 {
  margin-bottom: -0.125rem;
}
nav h3 {
  text-transform: none;
}
table {
  width: 100%;
  font-size: 0.85rem;
  table-layout: fixed;
  border-collapse: collapse;
  text-align: left;
}
th,
td {
  padding: 1em;
  border: 2px solid;
  vertical-align: top;
}
img {
  width: 100%;
  max-width: 100%;
  height: auto;
}
main img {
  margin: 1.5rem 0;
}
main img:last-child {
  margin-bottom: 0;
}
main p img:last-child {
  margin-bottom: 1.5rem;
}
img + p {
  margin-top: 0;
}
* + figure {
  margin-top: 2.1rem;
}
figure:not(:last-child) {
  margin-bottom: 2.1rem;
}
figcaption {
  font-size: 0.75rem;
  font-style: italic;
  margin-top: 0.75rem;
  padding: 0 1.5rem;
}
figure img {
  margin-bottom: 0;
}
figure img:first-child {
  margin-top: 0;
}
blockquote {
  margin-left: 1.5rem;
  font-size: 1.25rem;
  font-style: italic;
}
li a img {
  height: 1em;
  width: auto;
}
figure {
  text-align: center;
}
main ul,
main ol {
  padding-left: 2.1rem;
}
main ul ul {
  margin-top: 0;
}
nav ul {
  list-style: none;
  margin-top: 0;
}
[aria-label="site"] ul {
  text-align: left;
  font-size: 0.8rem;
  padding: 0.75rem;
  padding-left: 0;
}
[aria-label="site"] li {
  display: inline-block;
  margin: 0 0.75rem;
}
nav h3 {
  font-size: 1.75rem;
}
[aria-label="site"] li:first-child a {
  border: 0;
  font-family: Atkinson Hyperlegible, serif;
}
header {
  position: relative;
  margin-top: 0;
}
header p {
  margin-top: 0.35rem;
}
main {
  padding-top: 1.5rem;
}
svg {
  display: block;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}
path {
  fill: #10403c;
}
header svg {
  margin-top: 1.5rem;
}
.plug {
  width: 10rem;
  margin-top: 0.75rem;
}
.perex {
  font-family: monospace;
  margin-top: 0;
}
footer {
  text-align: center;
  font-size: 0.85rem;
  padding: 2.8rem 0;
  margin: 0;
}
footer * + * {
  margin-top: 0;
}
.vh {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
ul.inline {
  list-style: none;
  padding: 0;
  margin-top: -0.25rem;
  margin-bottom: -0.25rem;
}

ul.inline li {
  display: inline-block;
  margin: 0.5rem;
}
.caps-heading {
  font-size: 1.25rem;
  text-align: center;
  text-transform: uppercase;
}
.central {
  max-width: 42rem;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  margin-right: auto;
  margin-left: auto;
}
.center {
  text-align: center;
}
.pad-top {
  padding-top: 2.8rem;
}
.reversed-transparent {
  background: transparent /*#bfe3e0*/;
  padding-bottom: 2rem;
}
.reversed {
  background: #bfe3e0;
}
.reversed a {
  color: #10403c;
}
.call-to-action {
  line-height: 1.1;
  display: inline-block;
  text-align: center;
  padding: 0.75em 1.5em;
  border: 0.25em solid;
  border-radius: 0.33rem;
  font-weight: bold;
}
.sans {
  font-family: Atkinson Hyperlegible, sans-serif;
}
@media (max-width: 600px) {
  [aria-label="site"] ul {
    text-align: center;
    padding-left: 0.7rem;
  }
  [aria-label="site"] li {
    margin: 0.35rem;
  }
  [aria-label="site"] li:first-child {
    display: block;
  }
  h1 {
    font-size: 2.5rem !important;
  }
  nav h3 {
    font-size: 1.5rem;
  }
  footer ul.inline {
    margin: 0;
    margin-top: 1.5rem;
  }
  footer ul.inline li {
    display: block;
    margin: 0;
    margin-top: 0.25rem;
  }
}
.bitesize-spark-background {
  z-index: -1;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.bitesize-spark {
  display: none;
  opacity: 0;
  position: absolute;
  transition-property: opacity;
  transition-timing-function: ease-in;
}
/*! CSS Used from: Embedded ; media=all */
@media all {
  .bitesize-spark-primary--spark-15 .cls-1 {
    fill: #fff;
  }
}
/*! CSS Used from: Embedded ; media=all */
@media all {
  .bitesize-spark-primary--spark-15 .cls-1 {
    fill: #fff;
  }
}
/*! CSS Used from: Embedded ; media=all */
@media all {
  .bitesize-spark-primary--spark-5 .cls-1,
  .bitesize-spark-primary--spark-5 .cls-2 {
    fill: #fff;
  }
  .bitesize-spark-primary--spark-5 .cls-1 {
    fill-rule: evenodd;
  }
}
/*! CSS Used from: Embedded ; media=all */
@media all {
  .bitesize-spark-primary--spark-21 .cls-1 {
    fill: #fff;
  }
}
/*! CSS Used from: Embedded ; media=all */
@media all {
  .bitesize-spark-primary--spark-7 .cls-1 {
    fill: #fff;
  }
}
/*! CSS Used from: Embedded ; media=all */
@media all {
  .bitesize-spark-primary--spark-13 .cls-1 {
    fill: #fff;
  }
}
/*! CSS Used from: Embedded ; media=all */
@media all {
  .bitesize-spark-primary--spark-15 .cls-1 {
    fill: #fff;
  }
}
/*! CSS Used from: Embedded ; media=all */
@media all {
  .bitesize-spark-primary--spark-3 .cls-1 {
    fill: #fff;
  }
}
/*! CSS Used from: Embedded ; media=all */
@media all {
  .bitesize-spark-primary--spark-5 .cls-1,
  .bitesize-spark-primary--spark-5 .cls-2 {
    fill: #fff;
  }
  .bitesize-spark-primary--spark-5 .cls-1 {
    fill-rule: evenodd;
  }
}
/*! CSS Used from: Embedded ; media=all */
@media all {
  .bitesize-spark-primary--spark-5 .cls-1,
  .bitesize-spark-primary--spark-5 .cls-2 {
    fill: #fff;
  }
  .bitesize-spark-primary--spark-5 .cls-1 {
    fill-rule: evenodd;
  }
}
/*! CSS Used from: Embedded ; media=all */
@media all {
  .bitesize-spark-primary--spark-10 .cls-1 {
    fill: none;
    stroke: #fff;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 2.23px;
  }
}
/*! CSS Used from: Embedded ; media=all */
@media all {
  .bitesize-spark-primary--spark-10 .cls-1 {
    fill: none;
    stroke: #fff;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 2.23px;
  }
}
/*! CSS Used from: Embedded ; media=all */
@media all {
  .bitesize-spark-primary--spark-7 .cls-1 {
    fill: #fff;
  }
}
/*! CSS Used from: Embedded ; media=all */
@media all {
  .bitesize-spark-primary--spark-13 .cls-1 {
    fill: #fff;
  }
}
/*! CSS Used from: Embedded ; media=all */
@media all {
  .bitesize-spark-primary--spark-15 .cls-1 {
    fill: #fff;
  }
}
/*! CSS Used from: Embedded ; media=all */
@media all {
  .bitesize-spark-primary--spark-10 .cls-1 {
    fill: none;
    stroke: #fff;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 2.23px;
  }
}
/*! CSS Used from: Embedded ; media=all */
@media all {
  .bitesize-spark-primary--spark-5 .cls-1,
  .bitesize-spark-primary--spark-5 .cls-2 {
    fill: #fff;
  }
  .bitesize-spark-primary--spark-5 .cls-1 {
    fill-rule: evenodd;
  }
}
/*! CSS Used from: Embedded ; media=all */
@media all {
  .bitesize-spark-primary--spark-15 .cls-1 {
    fill: #fff;
  }
}
/*! CSS Used from: Embedded ; media=all */
@media all {
  .bitesize-spark-primary--spark-3 .cls-1 {
    fill: #fff;
  }
}
/*! CSS Used from: Embedded ; media=all */
@media all {
  .bitesize-spark-primary--spark-10 .cls-1 {
    fill: none;
    stroke: #fff;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 2.23px;
  }
}
/*! CSS Used from: Embedded ; media=all */
@media all {
  .bitesize-spark-primary--spark-13 .cls-1 {
    fill: #fff;
  }
}
/*! CSS Used from: Embedded ; media=all */
@media all {
  .bitesize-spark-primary--spark-7 .cls-1 {
    fill: #fff;
  }
}
/*! CSS Used from: Embedded ; media=all */
@media all {
  .bitesize-spark-primary--spark-3 .cls-1 {
    fill: #fff;
  }
}
/*! CSS Used from: Embedded ; media=all */
@media all {
  .bitesize-spark-primary--spark-3 .cls-1 {
    fill: #fff;
  }
}
/*! CSS Used from: Embedded ; media=all */
@media all {
  .bitesize-spark-primary--spark-18 .cls-1 {
    fill: #fff;
  }
}
/*! CSS Used from: Embedded ; media=all */
@media all {
  .bitesize-spark-primary--spark-10 .cls-1 {
    fill: none;
    stroke: #fff;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 2.23px;
  }
}
/*! CSS Used from: Embedded ; media=all */
@media all {
  .bitesize-spark-primary--spark-15 .cls-1 {
    fill: #fff;
  }
}
/*! CSS Used from: Embedded ; media=all */
@media all {
  .bitesize-spark-primary--spark-10 .cls-1 {
    fill: none;
    stroke: #fff;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 2.23px;
  }
}
/*! CSS Used from: Embedded ; media=all */
@media all {
  .bitesize-spark-primary--spark-5 .cls-1,
  .bitesize-spark-primary--spark-5 .cls-2 {
    fill: #fff;
  }
  .bitesize-spark-primary--spark-5 .cls-1 {
    fill-rule: evenodd;
  }
}
/*! CSS Used from: Embedded ; media=all */
@media all {
  .bitesize-spark-primary--spark-10 .cls-1 {
    fill: none;
    stroke: #fff;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 2.23px;
  }
}
/*! CSS Used from: Embedded ; media=all */
@media all {
  .bitesize-spark-primary--spark-10 .cls-1 {
    fill: none;
    stroke: #fff;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 2.23px;
  }
}
/*! CSS Used from: Embedded ; media=all */
@media all {
  .bitesize-spark-primary--spark-21 .cls-1 {
    fill: #fff;
  }
}
/*! CSS Used from: Embedded ; media=all */
@media all {
  .bitesize-spark-primary--spark-10 .cls-1 {
    fill: none;
    stroke: #fff;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 2.23px;
  }
}
/*! CSS Used from: Embedded ; media=all */
@media all {
  .bitesize-spark-primary--spark-3 .cls-1 {
    fill: #fff;
  }
}
/*! CSS Used from: Embedded ; media=all */
@media all {
  .bitesize-spark-primary--spark-7 .cls-1 {
    fill: #fff;
  }
}
/*! CSS Used from: Embedded ; media=all */
@media all {
  .bitesize-spark-primary--spark-18 .cls-1 {
    fill: #fff;
  }
}
/*! CSS Used from: Embedded ; media=all */
@media all {
  .bitesize-spark-primary--spark-13 .cls-1 {
    fill: #fff;
  }
}
/*! CSS Used from: Embedded ; media=all */
@media all {
  .bitesize-spark-primary--spark-7 .cls-1 {
    fill: #fff;
  }
}
/*! CSS Used from: Embedded ; media=all */
@media all {
  .bitesize-spark-primary--spark-3 .cls-1 {
    fill: #fff;
  }
}
/*! CSS Used from: Embedded ; media=all */
@media all {
  .bitesize-spark-primary--spark-13 .cls-1 {
    fill: #fff;
  }
}
/*! CSS Used from: Embedded ; media=all */
@media all {
  .bitesize-spark-primary--spark-3 .cls-1 {
    fill: #fff;
  }
}
/*! CSS Used from: Embedded ; media=all */
@media all {
  .bitesize-spark-primary--spark-5 .cls-1,
  .bitesize-spark-primary--spark-5 .cls-2 {
    fill: #fff;
  }
  .bitesize-spark-primary--spark-5 .cls-1 {
    fill-rule: evenodd;
  }
}
/*! CSS Used from: Embedded ; media=all */
@media all {
  .bitesize-spark-primary--spark-7 .cls-1 {
    fill: #fff;
  }
}
/*! CSS Used from: Embedded ; media=all */
@media all {
  .bitesize-spark-primary--spark-10 .cls-1 {
    fill: none;
    stroke: #fff;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 2.23px;
  }
}
/*! CSS Used from: Embedded ; media=all */
@media all {
  .bitesize-spark-primary--spark-13 .cls-1 {
    fill: #fff;
  }
}
/*! CSS Used from: Embedded ; media=all */
@media all {
  .bitesize-spark-primary--spark-15 .cls-1 {
    fill: #fff;
  }
}
/*! CSS Used from: Embedded ; media=all */
@media all {
  .bitesize-spark-primary--spark-18 .cls-1 {
    fill: #fff;
  }
}
/*! CSS Used from: Embedded ; media=all */
@media all {
  .bitesize-spark-primary--spark-21 .cls-1 {
    fill: #fff;
  }
}
/*! CSS Used from: https://www.gov.uk/assets/static/application-45a3a7f4d109ce8654a46f78de520c9ee141c165b317d477e9098d93e30e5cb9.css ; media=all */
@media all {
  @media print {
    .govuk-link[href^="/"]:after {
      content: " (" attr(href) ")";
      font-size: 90%;
      word-wrap: break-word;
    }
  }
  . .govuk-grid-row {
    margin-right: -15px;
    margin-left: -15px;
  }
  .govuk-grid-row:after {
    content: "";
    display: block;
    clear: both;
  }
  .govuk-grid-column-full {
    box-sizing: border-box;
    width: 100%;
    padding: 0 15px;
  }
  @media (min-width: 40.0625em) {
    .govuk-grid-column-full {
      width: 100%;
      float: left;
    }
  }
  .govuk-\!-margin-bottom-2 {
    margin-bottom: 10px !important;
  }
  @media (min-width: 40.0625em) {
    .govuk-\!-margin-bottom-2 {
      margin-bottom: 10px !important;
    }
  }
  .govuk-\!-margin-bottom-6 {
    margin-bottom: 20px !important;
  }
  @media (min-width: 40.0625em) {
    .govuk-\!-margin-bottom-6 {
      margin-bottom: 30px !important;
    }
  }
}
/*! CSS Used from: https://www.gov.uk/assets/static/print-06df96ca7321d6773e45395ddbb205e8ab7c8e54aa1e4207f891ace184dbbd98.css ; media=print */
@media print {
  .govuk-link {
    font-family: "GDS Transport", arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-decoration: underline;
  }
  @media print {
    .govuk-link {
      font-family: sans-serif;
    }
  }
  .govuk-link:link {
    color: #10403c;
  }
  .govuk-link:visited {
    color: #4c2c92;
  }
  .govuk-link:hover {
    color: #003078;
  }
  .govuk-link:active {
    color: #0b0c0c;
  }
  @media print {
    .govuk-link[href^="/"]:after {
      content: " (" attr(href) ")";
      font-size: 90%;
      word-wrap: break-word;
    }
  }
  .govuk-heading-m {
    color: #0b0c0c;
    font-family: "GDS Transport", arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 700;
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 1.1111111111;
    display: block;
    margin-top: 0;
    margin-bottom: 15px;
  }
  @media print {
    .govuk-heading-m {
      color: #000;
    }
  }
  @media print {
    .govuk-heading-m {
      font-family: sans-serif;
    }
  }
  @media (min-width: 40.0625em) {
    .govuk-heading-m {
      font-size: 24px;
      font-size: 1.5rem;
      line-height: 1.25;
    }
  }
  @media print {
    .govuk-heading-m {
      font-size: 18pt;
      line-height: 1.15;
    }
  }
  @media (min-width: 40.0625em) {
    .govuk-heading-m {
      margin-bottom: 20px;
    }
  }
  .govuk-heading-s {
    color: #0b0c0c;
    font-family: "GDS Transport", arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 700;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
    display: block;
    margin-top: 0;
    margin-bottom: 15px;
  }
  @media print {
    .govuk-heading-s {
      color: #000;
    }
  }
  @media print {
    .govuk-heading-s {
      font-family: sans-serif;
    }
  }
  @media (min-width: 40.0625em) {
    .govuk-heading-s {
      font-size: 19px;
      font-size: 1.1875rem;
      line-height: 1.3157894737;
    }
  }
  @media print {
    .govuk-heading-s {
      font-size: 14pt;
      line-height: 1.15;
    }
  }
  @media (min-width: 40.0625em) {
    .govuk-heading-s {
      margin-bottom: 20px;
    }
  }
  .govuk-body {
    color: #0b0c0c;
    font-family: "GDS Transport", arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
    margin-top: 0;
    margin-bottom: 15px;
  }
  @media print {
    .govuk-body {
      color: #000;
    }
  }
  @media print {
    .govuk-body {
      font-family: sans-serif;
    }
  }
  @media (min-width: 40.0625em) {
    .govuk-body {
      font-size: 19px;
      font-size: 1.1875rem;
      line-height: 1.3157894737;
    }
  }
  @media print {
    .govuk-body {
      font-size: 14pt;
      line-height: 1.15;
    }
  }
  @media (min-width: 40.0625em) {
    .govuk-body {
      margin-bottom: 20px;
    }
  }
  .govuk-grid-row {
    margin-right: -15px;
    margin-left: -15px;
  }
  .govuk-grid-row:after {
    content: "";
    display: block;
    clear: both;
  }
  .govuk-grid-column-full {
    box-sizing: border-box;
    width: 100%;
    padding: 0 15px;
  }
  @media (min-width: 40.0625em) {
    .govuk-grid-column-full {
      width: 100%;
      float: left;
    }
  }
  .govuk-\!-margin-bottom-2 {
    margin-bottom: 10px !important;
  }
  @media (min-width: 40.0625em) {
    .govuk-\!-margin-bottom-2 {
      margin-bottom: 10px !important;
    }
  }
  .govuk-\!-margin-bottom-6 {
    margin-bottom: 20px !important;
  }
  @media (min-width: 40.0625em) {
    .govuk-\!-margin-bottom-6 {
      margin-bottom: 30px !important;
    }
  }
  a {
    text-decoration: none;
  }
  a[href^="/"]:after {
    content: " (https://www.gov.uk" attr(href) ")";
  }
  h2,
  h3 {
    font-weight: bold;
  }
  h2,
  h3,
  p,
  ul {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
  h2 {
    font-family: "GDS Transport", arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 700;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
    padding-top: 7pt;
  }
  @media print {
    h2 {
      font-family: sans-serif;
    }
  }
  @media (min-width: 40.0625em) {
    h2 {
      font-size: 19px;
      font-size: 1.1875rem;
      line-height: 1.3157894737;
    }
  }
  @media print {
    h2 {
      font-size: 14pt;
      line-height: 1.15;
    }
  }
  h3 {
    font-family: "GDS Transport", arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 700;
    font-size: 14px;
    font-size: 0.875rem;
    line-height: 1.1428571429;
  }
  @media print {
    h3 {
      font-family: sans-serif;
    }
  }
  @media (min-width: 40.0625em) {
    h3 {
      font-size: 16px;
      font-size: 1rem;
      line-height: 1.25;
    }
  }
  @media print {
    h3 {
      font-size: 14pt;
      line-height: 1.2;
    }
  }
  p {
    font-family: "GDS Transport", arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 12px;
    font-size: 0.75rem;
    line-height: 1.25;
  }
  @media print {
    p {
      font-family: sans-serif;
    }
  }
  @media (min-width: 40.0625em) {
    p {
      font-size: 14px;
      font-size: 0.875rem;
      line-height: 1.4285714286;
    }
  }
  @media print {
    p {
      font-size: 12pt;
      line-height: 1.2;
    }
  }
  ul {
    font-family: "GDS Transport", arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 12px;
    font-size: 0.75rem;
    line-height: 1.25;
    padding-left: 26pt;
  }
  @media print {
    ul {
      font-family: sans-serif;
    }
  }
  @media (min-width: 40.0625em) {
    ul {
      font-size: 14px;
      font-size: 0.875rem;
      line-height: 1.4285714286;
    }
  }
  @media print {
    ul {
      font-size: 12pt;
      line-height: 1.2;
    }
  }
  ul {
    list-style: disc;
  }
  li {
    line-height: 1.5;
  }
  li p {
    margin: 0;
  }
}
/*! CSS Used from: https://www.gov.uk/assets/frontend/application-a41c275fa9234c16c4977a290ad3fcc072492d1f777fd250aeba9d5b41009513.css ; media=screen */
@media screen {
  .gem-c-heading {
    margin: 0;
  }
  .homepage-services-and-info__list {
    display: -ms-grid;
    display: grid;
    grid-auto-flow: row;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    list-style: none;
    margin: 0 -15px;
    padding: 0;
  }
  .homepage-services-and-info__list > li:nth-child(1) {
    -ms-grid-column: 1;
    -ms-grid-row: 1;
  }
  .homepage-services-and-info__list > li:nth-child(2) {
    -ms-grid-column: 1;
    -ms-grid-row: 2;
  }
  .homepage-services-and-info__list > li:nth-child(3) {
    -ms-grid-column: 1;
    -ms-grid-row: 3;
  }
  .homepage-services-and-info__list > li:nth-child(4) {
    -ms-grid-column: 1;
    -ms-grid-row: 4;
  }
  .homepage-services-and-info__list > li:nth-child(5) {
    -ms-grid-column: 1;
    -ms-grid-row: 5;
  }
  .homepage-services-and-info__list > li:nth-child(6) {
    -ms-grid-column: 1;
    -ms-grid-row: 6;
  }
  .homepage-services-and-info__list > li:nth-child(7) {
    -ms-grid-column: 1;
    -ms-grid-row: 7;
  }
  .homepage-services-and-info__list > li:nth-child(8) {
    -ms-grid-column: 1;
    -ms-grid-row: 8;
  }
  .homepage-services-and-info__list > li:nth-child(9) {
    -ms-grid-column: 1;
    -ms-grid-row: 9;
  }
  .homepage-services-and-info__list > li:nth-child(10) {
    -ms-grid-column: 1;
    -ms-grid-row: 10;
  }
  .homepage-services-and-info__list > li:nth-child(11) {
    -ms-grid-column: 1;
    -ms-grid-row: 11;
  }
  .homepage-services-and-info__list > li:nth-child(12) {
    -ms-grid-column: 1;
    -ms-grid-row: 12;
  }
  .homepage-services-and-info__list > li:nth-child(13) {
    -ms-grid-column: 1;
    -ms-grid-row: 13;
  }
  .homepage-services-and-info__list > li:nth-child(14) {
    -ms-grid-column: 1;
    -ms-grid-row: 14;
  }
  .homepage-services-and-info__list > li:nth-child(15) {
    -ms-grid-column: 1;
    -ms-grid-row: 15;
  }
  .homepage-services-and-info__list > li:nth-child(16) {
    -ms-grid-column: 1;
    -ms-grid-row: 16;
  }
  @media (min-width: 40.0625em) {
    .homepage-services-and-info__list {
      display: -ms-grid;
      display: grid;
      grid-auto-flow: row;
      -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
      -ms-grid-rows: 1fr 1fr 1fr 1fr   ;
      grid-template-rows: 1fr 1fr 1fr    1fr;
    }
    .homepage-services-and-info__list > li:nth-child(1) {
      -ms-grid-column: 1;
      -ms-grid-row: 1;
    }
    .homepage-services-and-info__list > li:nth-child(2) {
      -ms-grid-column: 2;
      -ms-grid-row: 1;
    }
    .homepage-services-and-info__list > li:nth-child(3) {
      -ms-grid-column: 1;
      -ms-grid-row: 2;
    }
    .homepage-services-and-info__list > li:nth-child(4) {
      -ms-grid-column: 2;
      -ms-grid-row: 2;
    }
    .homepage-services-and-info__list > li:nth-child(5) {
      -ms-grid-column: 1;
      -ms-grid-row: 3;
    }
    .homepage-services-and-info__list > li:nth-child(6) {
      -ms-grid-column: 2;
      -ms-grid-row: 3;
    }
    .homepage-services-and-info__list > li:nth-child(7) {
      -ms-grid-column: 1;
      -ms-grid-row: 4;
    }
    .homepage-services-and-info__list > li:nth-child(8) {
      -ms-grid-column: 2;
      -ms-grid-row: 4;
    }
    .homepage-services-and-info__list > li:nth-child(9) {
      -ms-grid-column: 1;
      -ms-grid-row: 5;
    }
    .homepage-services-and-info__list > li:nth-child(10) {
      -ms-grid-column: 2;
      -ms-grid-row: 5;
    }
    .homepage-services-and-info__list > li:nth-child(11) {
      -ms-grid-column: 1;
      -ms-grid-row: 6;
    }
    .homepage-services-and-info__list > li:nth-child(12) {
      -ms-grid-column: 2;
      -ms-grid-row: 6;
    }
    .homepage-services-and-info__list > li:nth-child(13) {
      -ms-grid-column: 1;
      -ms-grid-row: 7;
    }
    .homepage-services-and-info__list > li:nth-child(14) {
      -ms-grid-column: 2;
      -ms-grid-row: 7;
    }
    .homepage-services-and-info__list > li:nth-child(15) {
      -ms-grid-column: 1;
      -ms-grid-row: 8;
    }
    .homepage-services-and-info__list > li:nth-child(16) {
      -ms-grid-column: 2;
      -ms-grid-row: 8;
    }
  }
  @media (min-width: 48.0625em) {
    .homepage-services-and-info__list {
      display: -ms-grid;
      display: grid;
      grid-auto-flow: row;
      -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr;
      -ms-grid-rows: 1fr 1fr 1fr 1fr  ;
      grid-template-rows: 1fr 1fr 1fr   1fr;
    }
    .homepage-services-and-info__list > li:nth-child(1) {
      -ms-grid-column: 1;
      -ms-grid-row: 1;
    }
    .homepage-services-and-info__list > li:nth-child(2) {
      -ms-grid-column: 2;
      -ms-grid-row: 1;
    }
    .homepage-services-and-info__list > li:nth-child(3) {
      -ms-grid-column: 3;
      -ms-grid-row: 1;
    }
    .homepage-services-and-info__list > li:nth-child(4) {
      -ms-grid-column: 1;
      -ms-grid-row: 2;
    }
    .homepage-services-and-info__list > li:nth-child(5) {
      -ms-grid-column: 2;
      -ms-grid-row: 2;
    }
    .homepage-services-and-info__list > li:nth-child(6) {
      -ms-grid-column: 3;
      -ms-grid-row: 2;
    }
    .homepage-services-and-info__list > li:nth-child(7) {
      -ms-grid-column: 1;
      -ms-grid-row: 3;
    }
    .homepage-services-and-info__list > li:nth-child(8) {
      -ms-grid-column: 2;
      -ms-grid-row: 3;
    }
    .homepage-services-and-info__list > li:nth-child(9) {
      -ms-grid-column: 3;
      -ms-grid-row: 3;
    }
    .homepage-services-and-info__list > li:nth-child(10) {
      -ms-grid-column: 1;
      -ms-grid-row: 4;
    }
    .homepage-services-and-info__list > li:nth-child(11) {
      -ms-grid-column: 2;
      -ms-grid-row: 4;
    }
    .homepage-services-and-info__list > li:nth-child(12) {
      -ms-grid-column: 3;
      -ms-grid-row: 4;
    }
    .homepage-services-and-info__list > li:nth-child(13) {
      -ms-grid-column: 1;
      -ms-grid-row: 5;
    }
    .homepage-services-and-info__list > li:nth-child(14) {
      -ms-grid-column: 2;
      -ms-grid-row: 5;
    }
    .homepage-services-and-info__list > li:nth-child(15) {
      -ms-grid-column: 3;
      -ms-grid-row: 5;
    }
    .homepage-services-and-info__list > li:nth-child(16) {
      -ms-grid-column: 1;
      -ms-grid-row: 6;
    }
  }
  .chevron-card {
    background: #f8f8f8;
    border: 0;
    border-radius: 8px;
    color: #10403c;
    text-decoration: none;
    margin: 0 15px;
    margin-bottom: 20px;
    padding: 0.5rem 1rem 0 1rem;
  }
  .chevron-card:hover {
    background: #f1f1f1;
  }
  .chevron-card__wrapper {
    padding: 10px 30px 10px 0;
    position: relative;
  }
  .chevron-card__description {
    margin: 0 -30px 0 0;
    color: #222;
  }
  .chevron-card__link:after {
    bottom: 0;
    content: "";
    display: block;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }
  .chevron-card__link:before {
    border-right: 5px solid #10403c;
    border-top: 5px solid #10403c;
    content: "";
    display: block;
    height: 20px;
    position: absolute;
    right: 5px;
    top: 15px;
    -webkit-transform: translateY(0) rotate(45deg) scale(1);
    -ms-transform: translateY(0) rotate(45deg) scale(1);
    transform: translateY(0) rotate(45deg) scale(1);
    width: 20px;
  }
  .chevron-card__link {
    text-decoration: none;
    border-bottom: 0;
  }
  .chevron-card__link:hover:before {
    border-color: #003078;
  }
  .homepage-section__heading {
    border-top-style: solid;
    border-top-width: 2px;
    border-top-color: #0b0c0c;
    margin: 0 0 30px;
    padding: 15px 0 0;
  }
  .homepage-section__heading--border-none {
    border: none;
    padding: 0;
  }
}
#player-container #play-pause {
  cursor: pointer;
  text-indent: -999999px;
  height:40px;
  width: 40px;
  padding: 12px 18px;
  z-index: 2;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMiAyNHYtMjRsMjAgMTItMjAgMTJ6Ii8+PC9zdmc+);
    background-repeat: no-repeat!important;
    background-position: center;
    background-size: 16px;
  background-repeat:no-repeat;
  background-position:center;
  background-size:20px;
  background-color: gainsboro;
}
.play {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMiAyNHYtMjRsMjAgMTItMjAgMTJ6Ii8+PC9zdmc+);
}
.pause {
   background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMTAgMjRoLTZ2LTI0aDZ2MjR6bTEwLTI0aC02djI0aDZ2LTI0eiIvPjwvc3ZnPg==)!important;
}